.App {
  text-align: center;
}


@media screen and (max-width: 40em) {
  * {
    color: white;
    background-color: black;
  }
}

@media screen and (min-width: 40em) {
  * {
    color: black;
    background-color: white;
  }
}



